<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/ProyectoEstructuras</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <servlet>
        <servlet-name>RegistroCita</servlet-name>
        <servlet-class>com.jonathan.RegistroCita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegUsuarioNormal</servlet-name>
        <servlet-class>com.jonathan.RegUsuarioNormal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelarCita</servlet-name>
        <servlet-class>com.jonathan.CancelarCita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreacionCola</servlet-name>
        <servlet-class>com.jonathan.CreacionCola</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Desencolamiento</servlet-name>
        <servlet-class>com.jonathan.Desencolamiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExistenciaCola</servlet-name>
        <servlet-class>com.jonathan.ExistenciaCola</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExistenciaUsuario</servlet-name>
        <servlet-class>com.jonathan.ExistenciaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistorialCitas</servlet-name>
        <servlet-class>com.jonathan.HistorialCitas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoCola</servlet-name>
        <servlet-class>com.jonathan.InfoCola</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoUsuario</servlet-name>
        <servlet-class>com.jonathan.InfoUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioSesion</servlet-name>
        <servlet-class>com.jonathan.InicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroUsuarioEmpresarial</servlet-name>
        <servlet-class>com.jonathan.RegistroUsuarioEmpresarial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Encolamiento</servlet-name>
        <servlet-class>com.jonathan.Encolamiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CitaPerdida</servlet-name>
        <servlet-class>com.jonathan.CitaPerdida</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistroCita</servlet-name>
        <url-pattern>/RegistroCita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegUsuarioNormal</servlet-name>
        <url-pattern>/RegUsuarioNormal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelarCita</servlet-name>
        <url-pattern>/CancelarCita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreacionCola</servlet-name>
        <url-pattern>/CreacionCola</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Desencolamiento</servlet-name>
        <url-pattern>/Desencolamiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExistenciaCola</servlet-name>
        <url-pattern>/ExistenciaCola</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExistenciaUsuario</servlet-name>
        <url-pattern>/ExistenciaUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistorialCitas</servlet-name>
        <url-pattern>/HistorialCitas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoCola</servlet-name>
        <url-pattern>/InfoCola</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoUsuario</servlet-name>
        <url-pattern>/InfoUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioSesion</servlet-name>
        <url-pattern>/InicioSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroUsuarioEmpresarial</servlet-name>
        <url-pattern>/RegistroUsuarioEmpresarial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Encolamiento</servlet-name>
        <url-pattern>/Encolamiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CitaPerdida</servlet-name>
        <url-pattern>/CitaPerdida</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
